@page "/"

@using Edux.Blazor.Stuff;

<PageTitle>Home</PageTitle>

<div style="display: flex; flex-direction: row; width: 100%; height: 100%;">
    <iframe style="display: flex; flex: 1;" src="/d"></iframe>
    <div style="display: flex; flex: 0; min-width: 24rem;">
        <Edux.Blazor.Components.Editor />
    </div>
</div>

@code {

    ClaudeCodeCliHelper claudeCodeCliHelper;

    public Home(IServiceProvider sp)
    {
        this.claudeCodeCliHelper = ActivatorUtilities.GetServiceOrCreateInstance<ClaudeCodeCliHelper>(sp);
    }

    protected override void OnInitialized()
    {
        Task.Run(async () =>
        {
            try
            {
                await claudeCodeCliHelper.Launch(default);
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        });
    }
}